# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
.env
.venv/

# Bases de datos (Local)
# La ignoramos para que Render cree una limpia en la nube
mango.db

# Flask / App
instance/
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db
